* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#banner {
    background-color: #666666;
    background-image: url("img/banner.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: #d8d8d8;
    padding: 14em 0;
    text-align: center;
    position: relative;
    height: 40vh;
}
.nav {
    background: #666666;
    position: relative;
}
label {
    font-size: 30px;
    color: white;
    margin: 10px 20px 10px 10px;
}
#toggle {
    display: none;
}
.menu {
    display: inline-block;
    margin-bottom: 10px;
}
.menu a {
    color: white;
    margin-left: 15px;
    
    text-decoration: none;
}
