* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    background: #cdc5b4;
}

#banner {
    background-color: #666666;
    background-image: url("img/pic2.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: #d8d8d8;
    padding-bottom: 13em;
    position: relative;
    height: 50vh;
}
.nav {
    background: transparent;
    position: absolute;
    color: #666666;
    height: 40px;
    width: 100%;
    z-index: 9999;
}
label {
    font-size: 30px;
    margin: 10px 20px 10px 10px;
    cursor: pointer;
    display: none;
    width: 33px;
}
#toggle {
    display: none;
}
.menu {
    display: inline-block;
    margin: 20px 0 0 30px;
}
.menu a {
    margin-right: 50px;
    text-decoration: none;
    text-transform: uppercase;
    color: #666666;
    font-weight: 600;
    letter-spacing: 2px;
}
.content {
    /* background: #2c363f; */
    color: #666666;
    height: auto;
    width: 60%;
    display: flex;
    justify-content: space-around;
    margin: 4em auto;
}
/* img {
    max-width: 40%;
    display: block;
    height: auto;
    margin: 30px;
} */
.text-left {
    width: 50%;
    padding: 15px 30px 15px 15px;
    text-transform: uppercase;
}
.text-left h2 {
    color: #414040;
    font-size: 3em;
    line-height: 1.5em;
    font-weight: 700;
    margin-bottom: 0.5em;
}
.text-left p {
    font-size: 1.7em;
}
.text-right {
    width: 50%;
    padding: 15px;
}
.text-right h4 {
    color: #414040;
    font-size: 30px;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.text-right p {
    line-height: 2.0;
    
}























@media screen and (max-width: 600px) {
    .menu {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.5s linear;
        width: 100%;
        text-align: center;
        margin: 0;
    }
    label {
        display: block;
    }
    .menu a {
        display: block;
        border-bottom: 1px solid #EBEBEA;
        margin: 0;
        line-height: 1.6;
    }
    #toggle:checked + .menu {
        display: block;
        visibility: visible;
        opacity: 1;
    }
}
